@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 90%;
}
@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  outline-offset: -2px;
  font-size: 1rem;
  font-weight: 400;
  transition: color 300ms ease, outline 100ms ease, background-color 300ms ease;
}

.blue-btn {
  background-color: #5368df;
  color: white;
}
.blue-btn:hover {
  background-color: transparent;
  outline: 2px solid #5368df;
  color: #5368df;
}

.bookmark-logo {
  --circle: #5267df;
  --text: #242a45;
  --icon-in-circle: #fff;
  --delay: 300ms;
}
.bookmark-logo .circle,
.bookmark-logo .text,
.bookmark-logo .icon-in-circle {
  transition: fill 300ms ease-in-out;
}
.bookmark-logo .circle {
  fill: var(--circle);
}
.bookmark-logo .text {
  fill: var(--text);
}
.bookmark-logo .icon-in-circle {
  fill: var(--icon-in-circle);
}

@media (max-width: 768px) {
  nav.is-active .bookmark-logo {
    --circle: #fff;
    --text: #fff;
    --icon-in-circle: #101010;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1rem;
}
nav .bookmark-logo,
nav .hamburger {
  position: relative;
  z-index: 9;
}

nav.is-active .hamburger .bar {
  background-color: #fff;
}
nav.is-active .hamburger .bar:nth-child(2) {
  opacity: 0;
}
nav.is-active .hamburger .bar:nth-child(1) {
  transform: translateY(7.8px) rotate(45deg);
}
nav.is-active .hamburger .bar:nth-child(3) {
  transform: translateY(-7.8px) rotate(-45deg);
}

.hamburger {
  cursor: pointer;
  display: inline-block;
}
.hamburger .bar {
  display: block;
  width: 24px;
  height: 4px;
  margin: 4px auto;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, background-color 300ms ease-in-out;
  background-color: #101010;
  border-radius: 3px;
}

.nav-link-container {
  display: flex;
  gap: 1.2rem;
  z-index: 8;
}
.nav-link-container .nav-link a {
  color: #252b46;
  font-weight: 500;
  transition: color 300ms ease-in-out;
}
.nav-link-container .nav-link a:hover {
  color: #fa5757;
}
.nav-link-container .nav-link .login-btn {
  color: white;
  background-color: #fa5757;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 300ms ease-in-out, outline 300ms ease-in-out;
}
.nav-link-container .nav-link .login-btn:hover {
  background-color: transparent;
  outline-offset: -2px;
  outline: 2px solid #fa5757;
}

@media (min-width: 768px) {
  nav .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-link-container {
    gap: 0;
    transition: transform 300ms ease-in-out;
    transform: translateX(100%);
    position: absolute;
    inset: 0;
    background-color: rgba(37, 43, 70, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
  }
  .nav-link-container .nav-link {
    width: 90%;
    padding: 1rem 0;
  }
  .nav-link-container .nav-link a {
    color: white;
    font-weight: 300;
    display: inline-block;
    width: 100%;
  }
  .nav-link-container .nav-link:first-child {
    border-top: 0.5px solid #9194a1;
    border-bottom: 0.5px solid #9194a1;
  }
  .nav-link-container .nav-link:not(:first-child):not(:last-child) {
    border-bottom: 0.5px solid #9194a1;
  }
  .nav-link-container .nav-link .login-btn {
    padding: 0.5rem;
    margin-top: 1.5rem;
    outline-offset: -2px;
    outline: 2px solid #fff;
    background-color: transparent;
    border-radius: 5px;
  }

  nav.is-active .nav-link-container {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
}
.intro {
  margin-top: 5rem;
  text-align: center;
  position: relative;
}
.intro .hero-img-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.intro .hero-img-container::before {
  content: "";
  animation-delay: 1000ms;
  position: absolute;
  top: 20%;
  bottom: -10%;
  left: 27%;
  width: 2000px;
  border-bottom-left-radius: 300px;
  border-top-left-radius: 300px;
  background-color: #5368df;
  z-index: -1;
}
.intro .hero-img-container .hero-img {
  width: 100%;
  max-width: 400px;
  transform: scale(1.175);
}
.intro aside {
  margin-top: 6rem;
}
.intro aside .text-box > * {
  margin: 1rem 0;
}
.intro aside .text-box h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #252b46;
}
.intro aside .text-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #9194a1;
}
.intro aside .btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.intro aside .btns .firefox-btn {
  color: #252b46;
  background-color: #eee;
}
.intro aside .btns .firefox-btn:hover {
  background-color: transparent;
  outline: #252b46 2px solid;
}

@media (min-width: 992px) {
  .intro {
    display: flex;
    gap: 2rem;
  }
  .intro .hero-img-container,
.intro aside {
    width: 50%;
  }
  .intro .hero-img-container::before {
    top: 35%;
  }
  .intro .hero-img-container .hero-img {
    max-width: 500px;
    transform: translate(8%, 10%);
  }
  .intro aside {
    margin-top: 0;
    align-self: center;
    order: -1;
    text-align: left;
  }
  .intro aside .btns {
    justify-content: left;
  }
}
li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
