@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}
@media (min-width: 1008px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  padding: 0.8em 1em;
  border-radius: 5px;
  outline-offset: -2px;
  font-size: 0.85rem;
  font-weight: 500;
  transition: color 300ms ease, outline 100ms ease, background-color 300ms ease;
}

.blue-btn {
  background-color: #5368df;
  color: white;
}
.blue-btn:hover {
  background-color: transparent;
  outline: 2px solid #5368df;
  color: #5368df;
}

.animate .fadeRight {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s, opacity 1s;
}
.animate .fadeLeft {
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 1s, opacity 1s;
}

.animate.animated::after {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.animate.animated .fadeRight {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.animate.animated .fadeLeft {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.bookmark-logo {
  --circle: #5267df;
  --text: #242a45;
  --icon-in-circle: #fff;
  --delay: 300ms;
}
.bookmark-logo .circle,
.bookmark-logo .text,
.bookmark-logo .icon-in-circle {
  transition: fill 300ms ease-in-out;
}
.bookmark-logo .circle {
  fill: var(--circle);
}
.bookmark-logo .text {
  fill: var(--text);
}
.bookmark-logo .icon-in-circle {
  fill: var(--icon-in-circle);
}

@media (max-width: 904px) {
  nav.is-active .bookmark-logo {
    --circle: #fff;
    --text: #fff;
    --icon-in-circle: #101010;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 9;
  background-color: #fff;
  transition: box-shadow 400ms ease-out;
}
nav .bookmark-logo,
nav .hamburger {
  position: relative;
  z-index: 9;
}

nav.shadow {
  box-shadow: -4px -3px 20px 1px rgba(0, 0, 0, 0.35);
}

nav.is-active .hamburger .bar {
  background-color: #fff;
}
nav.is-active .hamburger .bar:nth-child(2) {
  opacity: 0;
}
nav.is-active .hamburger .bar:nth-child(1) {
  transform: translateY(7.8px) rotate(45deg);
}
nav.is-active .hamburger .bar:nth-child(3) {
  transform: translateY(-7.8px) rotate(-45deg);
}

.hamburger {
  cursor: pointer;
  display: inline-block;
}
.hamburger .bar {
  display: block;
  width: 24px;
  height: 4px;
  margin: 4px auto;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, background-color 300ms ease-in-out;
  background-color: #101010;
  border-radius: 3px;
}

.nav-link-container {
  display: flex;
  gap: 1.2rem;
  z-index: 8;
}
.nav-link-container .nav-link a {
  color: #252b46;
  font-weight: 400;
  transition: color 300ms ease-in-out;
}
.nav-link-container .nav-link a:hover {
  color: #fa5757;
}
.nav-link-container .nav-link .login-btn {
  color: white;
  background-color: #fa5757;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 300ms ease-in-out, outline 300ms ease-in-out;
}
.nav-link-container .nav-link .login-btn:hover {
  background-color: transparent;
  outline-offset: -2px;
  outline: 2px solid #fa5757;
}

@media (min-width: 904px) {
  nav .hamburger {
    display: none;
  }
}
@media (max-width: 904px) {
  .nav-link-container {
    gap: 0;
    transition: transform 300ms ease-in-out;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(37, 43, 70, 0.99);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
  }
  .nav-link-container .nav-link {
    width: 90%;
    padding: 1rem 0;
  }
  .nav-link-container .nav-link a {
    color: white;
    font-weight: 300;
    display: inline-block;
    width: 100%;
  }
  .nav-link-container .nav-link:first-child {
    border-top: 0.5px solid #9194a1;
    border-bottom: 0.5px solid #9194a1;
  }
  .nav-link-container .nav-link:not(:first-child):not(:last-child) {
    border-bottom: 0.5px solid #9194a1;
  }
  .nav-link-container .nav-link .login-btn {
    padding: 0.5rem;
    margin-top: 1.5rem;
    outline-offset: -2px;
    outline: 2px solid #fff;
    background-color: transparent;
    border-radius: 5px;
  }

  nav.is-active .nav-link-container {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
}
.intro {
  margin-top: 8rem;
  text-align: center;
}
.intro .illustration-container::after {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 0%;
  left: 27%;
  width: 2000px;
  border-bottom-left-radius: 300px;
  border-top-left-radius: 300px;
  background-color: #5368df;
  z-index: -1;
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s, opacity 1s;
  transition-delay: 500ms;
}
.intro aside {
  margin-top: 6rem;
}
.intro aside .btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.intro aside .btns .firefox-btn {
  color: #252b46;
  background-color: #eee;
}
.intro aside .btns .firefox-btn:hover {
  background-color: transparent;
  outline: #252b46 2px solid;
}

@media (min-width: 904px) {
  .intro {
    display: flex;
    gap: 2rem;
  }
  .intro .illustration-container,
.intro aside {
    width: 50%;
  }
  .intro .illustration-container::before {
    top: 35%;
  }
  .intro .illustration-container .illustration {
    max-width: 500px;
  }
  .intro aside {
    margin-top: 0;
    align-self: center;
    order: -1;
  }
  .intro aside .text-box {
    text-align: left;
  }
  .intro aside .btns {
    justify-content: left;
  }
}
.features {
  margin-top: 8rem;
}

.feature-viewer {
  text-align: center;
}
.feature-viewer .selector .select-feature {
  position: relative;
  color: #9194a1;
  transition: color 300ms ease;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  z-index: 0;
}
.feature-viewer .selector .select-feature:first-child {
  border-top: 0.5px solid #9194a1;
  border-bottom: 0.5px solid #9194a1;
}
.feature-viewer .selector .select-feature:not(:first-child) {
  border-bottom: 0.5px solid #9194a1;
}
.feature-viewer .selector .select-feature:hover {
  color: #fa5757;
}
.feature-viewer .selector .select-feature::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 4px;
  transform: translateX(-50%);
  transition: width 500ms ease;
  border-radius: 5px;
  background-color: #fa5757;
}
.feature-viewer .selector [data-checked=true] {
  color: black;
}
.feature-viewer .selector [data-checked=true]::after {
  width: 80%;
}

.feature-dis[data-active=true] {
  display: flex !important;
}

.feature-dis {
  display: none !important;
  flex-direction: column;
  margin-top: 2.5rem;
}
.feature-dis .illustration-container .illustration {
  width: min(90%, 380px);
}
.feature-dis .illustration-container::after {
  content: "";
  position: absolute;
  top: 25%;
  bottom: -20%;
  right: 27%;
  width: 2000px;
  border-bottom-right-radius: 300px;
  border-top-right-radius: 300px;
  background-color: #5368df;
  z-index: -1;
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 1s, opacity 1s;
  transition-delay: 500ms;
}
.feature-dis .text-box {
  margin-top: 5rem;
}

@media (min-width: 904px) {
  .feature-viewer {
    text-align: center;
  }
  .feature-viewer .selector {
    display: flex;
  }
  .feature-viewer .selector .select-feature:first-child {
    border-top: none;
  }

  .feature-dis {
    flex-direction: row;
    gap: 2rem;
  }
  .feature-dis > * {
    width: 50%;
  }
  .feature-dis .text-box {
    align-self: center;
    margin-top: 2rem;
    text-align: left;
  }
  .feature-dis .text-box .btn {
    display: inline-block;
  }
}
.download {
  margin-top: 8rem;
}
.download .card-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.download .card-container .card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.download .card-container .card img {
  width: min(60px, 100%);
}
.download .card-container .card .dot-line {
  width: 100%;
  height: 5px;
  margin-top: auto;
  object-fit: scale-down;
}
.download .card-container .card h1 {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
.download .card-container .card .bottom-part {
  padding-top: 2rem;
}
.download .card-container .card .btn {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 904px) {
  .download .card-container {
    flex-direction: row;
  }
  .download .card-container .card:first-child {
    transform: translateY(0px);
  }
  .download .card-container .card:nth-child(2) {
    transform: translateY(40px);
  }
  .download .card-container .card:last-child {
    transform: translateY(80px);
  }
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
@media (min-width: 904px) {
  :root {
    font-size: 18px;
  }
}

body {
  overflow-x: hidden;
}

@media (max-width: 904px) {
  body.nav-active {
    overflow-y: hidden;
  }
}
.illustration-container {
  position: relative;
  z-index: -1;
}
.illustration-container .illustration {
  width: min(100%, 400px);
  margin-left: auto;
  margin-right: auto;
}

.text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.text-box .btn {
  width: fit-content;
  display: none;
}
.text-box h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #252b46;
}
.text-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #9194a1;
}

/*# sourceMappingURL=style.css.map */
