@mixin fadeRight {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s, opacity 1s;
}

@mixin fadeLeft {
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 1s, opacity 1s;
}

@mixin originTranslateX {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.animate {
  .fadeRight {
    @include fadeRight;
  }
  .fadeLeft {
    @include fadeLeft;
  }
}

.animate.animated::after {
  @include originTranslateX;
}

.animate.animated .fadeRight {
  @include originTranslateX;
}

.animate.animated .fadeLeft {
  @include originTranslateX;
}
