.features {
  margin-top: 8rem;
}

.feature-viewer {
  text-align: center;

  .selector {
    .select-feature {
      position: relative;
      color: hsl(229, 8%, 60%);
      transition: color 300ms ease;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      // to take the whole width of parent div
      display: inline-block;
      width: 100%;
      padding: 1rem 0;

      &:first-child {
        border-top: 0.5px solid hsl(229, 8%, 60%);
        border-bottom: 0.5px solid hsl(229, 8%, 60%);
      }

      &:not(:first-child) {
        border-bottom: 0.5px solid hsl(229, 8%, 60%);
      }

      &:hover {
        color: hsl(0, 94%, 66%);
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 4px;

        transform: translateX(-50%);
        transition: width 500ms ease;
        border-radius: 5px;
        background-color: hsl(0, 94%, 66%);
      }
    }

    [data-checked="true"] {
      color: black;
      &::after {
        width: 80%;
      }
    }
  }
}

.feature-dis[data-active="true"] {
  display: flex !important;
}

.feature-dis {
  display: none !important;
  flex-direction: column;
  margin-top: 2.5rem;
  .illustration-container {
    .illustration {
      width: Min(90%, 380px);
    }
    &::after {
      content: "";
      position: absolute;
      top: 25%;
      bottom: -20%;
      right: 27%;
      width: 2000px;
      border-bottom-right-radius: 300px;
      border-top-right-radius: 300px;
      background-color: hsl(231, 69%, 60%);
      z-index: -1;

      @include fadeLeft;
      transition-delay: 500ms;
    }
  }
  .text-box {
    margin-top: 5rem;
  }
}

@include media-breakpoing-up($md) {
  .feature-viewer {
    text-align: center;

    .selector {
      display: flex;
      .select-feature {
        &:first-child {
          border-top: none;
        }
      }
    }
  }
  .feature-dis {
    flex-direction: row;
    gap: 2rem;
    & > * {
      width: 50%;
    }
    .text-box {
      align-self: center;
      margin-top: 2rem;
      text-align: left;
      .btn {
        display: inline-block;
      }
    }
  }
}
