@use "./mixins" as *;

@include media-breakpoing-up {
  nav .hamburger {
    display: none;
  }
}

.hamburger {
  cursor: pointer;
  display: inline-block;
  .bar {
    display: block;
    width: 24px;
    height: 4px;
    margin: 4px auto;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out,
      background-color 300ms ease-in-out;
    background-color: #101010;
    border-radius: 3px;
  }
}

nav.is-active {
  .hamburger {
    $tran: 7.8px;
    $rot: 45deg;

    .bar {
      background-color: #fff;
    }

    .bar:nth-child(2) {
      opacity: 0;
    }
    .bar:nth-child(1) {
      transform: translateY($tran) rotate($rot);
    }
    .bar:nth-child(3) {
      transform: translateY(-$tran) rotate(-$rot);
    }
  }
}
