.intro {
  margin-top: 8rem;
  text-align: center;

  .illustration-container {
    &::after {
      content: "";
      position: absolute;
      top: 20%;
      bottom: 0%;
      left: 27%;
      width: 2000px;
      border-bottom-left-radius: 300px;
      border-top-left-radius: 300px;
      background-color: hsl(231, 69%, 60%);
      z-index: -1;

      @include fadeRight;
      transition-delay: 500ms;
    }
  }

  aside {
    margin-top: 6rem;

    .btns {
      display: flex;
      gap: 1rem;
      justify-content: center;

      .firefox-btn {
        color: hsl(229, 31%, 21%);
        background-color: #eee;

        &:hover {
          background-color: transparent;
          outline: hsl(229, 31%, 21%) 2px solid;
        }
      }
    }
  }
}

@include media-breakpoing-up($md) {
  .intro {
    display: flex;
    gap: 2rem;

    .illustration-container,
    aside {
      width: 50%;
    }

    .illustration-container {
      &::before {
        top: 35%;
      }

      .illustration {
        max-width: 500px;
      }
    }

    aside {
      margin-top: 0;

      align-self: center;
      order: -1;
      .text-box {
        text-align: left;
      }
      .btns {
        justify-content: left;
      }
    }
  }
}
