.bookmark-logo {
  --circle: #5267df;
  --text: #242a45;
  --icon-in-circle: #fff;

  --delay: 300ms;

  .circle,
  .text,
  .icon-in-circle {
    transition: fill 300ms ease-in-out;
  }
  .circle {
    fill: var(--circle);
  }
  .text {
    fill: var(--text);
  }
  .icon-in-circle {
    fill: var(--icon-in-circle);
  }
}

@include media-breakpoing-down {
  nav.is-active {
    .bookmark-logo {
      --circle: #fff;
      --text: #fff;
      --icon-in-circle: #101010;
    }
  }
}
