@mixin media-breakpoing-up($bp: 576px) {
  @media (min-width: $bp) {
    @content;
  }
}
@mixin media-breakpoing-down($bp: 576px) {
  @media (max-width: $bp) {
    @content;
  }
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
