$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin media-breakpoing-up($bp: $md) {
  @media (min-width: $bp) {
    @content;
  }
}
@mixin media-breakpoing-down($bp: $md) {
  @media (max-width: $bp) {
    @content;
  }
}
