@use "./mixins" as *;

.nav-link-container {
  display: flex;
  gap: 1.2rem;

  a {
    color: hsl(229, 31%, 21%);
    font-weight: 400;
  }
  .login-btn {
    color: white;
    background-color: hsl(0, 94%, 66%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}

@include media-breakpoing-down {
  .nav-link-container {
    gap: 0;

    transition: transform 300ms ease-in-out;
    transform: translateX(100%);

    position: absolute;
    inset: 0;

    background-color: rgba(37, 43, 70, 0.9);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    text-align: center;

    .nav-link {
      width: 90%;
      padding: 1rem 0;
      a {
        color: white;
        font-weight: 300;

        // to take the whole width of parent div
        display: inline-block;
        width: 100%;
      }
      &:first-child {
        border-top: 0.5px solid hsl(229, 8%, 60%);
        border-bottom: 0.5px solid hsl(229, 8%, 60%);
      }
      &:not(:first-child):not(:last-child) {
        border-bottom: 0.5px solid hsl(229, 8%, 60%);
      }

      .login-btn {
        padding: 0.5rem;
        margin-top: 1.5rem;
        border: 3px solid #fff;
        background-color: transparent;
        border-radius: 5px;
      }
    }
  }

  nav.is-active {
    .nav-link-container {
      transform: translateX(0);
      transition: transform 300ms ease-in-out;
    }
  }
}
