@use "./mixins" as *;

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 90%;
  @include media-breakpoing-up($lg) {
    max-width: 980px;
  }
}
.btn {
  padding: 1em;
  border-radius: 5px;
  outline-offset: -2px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: color 300ms ease, outline 100ms ease, background-color 300ms ease;
}

.blue-btn {
  background-color: hsl(231, 69%, 60%);
  color: white;
  &:hover {
    background-color: transparent;
    outline: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
  }
}
