@use "./utilities";
@use "./mixins" as *;
@import "./animate";
@import "./logo";
@import "./nav";
@import "./intro-section";
@import "./features-section";
@import "./download-section";
@import "./q&a-section";
@import "./contact-section";
@import "./footer";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

.wrapper-to-prevent-overflowing-in-mobile-browsers {
  position: relative;
  overflow-x: hidden !important;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  @include media-breakpoing-up($md) {
    font-size: 18px;
  }
}

@include media-breakpoing-down($md) {
  body.nav-active {
    overflow-y: hidden;
  }
}

.illustration-container {
  position: relative;
  z-index: -1;

  .illustration {
    width: Min(100%, 400px);

    margin-left: auto;
    margin-right: auto;
  }
}

.text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;

  .btn {
    width: fit-content;
    display: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(229, 8%, 60%);
  }
}
